<h1>Add Gear</h1>
<div>
  <form action="/good_fits" method="POST">
    <div>
      <label for="season">SEASON: </label>
      <input id="season" type="text" name="outfit[season]">
    </div>
    <div>
      <label for="top">TOP: </label>
      <input id="top" type="text" name="outfit[top]">
    </div>
    <div>
      <label for="bottom">BOTTOM: </label>
      <input id="top" type="text" name="outfit[bottom]">
    </div>
    <div>
      <label for="footwear">FOOTWEAR: </label>
      <input id="footwear" type="text" name="outfit[footwear]">
    </div>
    <input type="submit" value="Create Outfit">
  </form>
</div>
